@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        function validateForm() {
            $.ajax({
                url: "/api/user/login",
                method: "POST",
                data: JSON.stringify({
                    username: $("#username").val(),
                    password: $("#password").val()
                }),
                dataType: 'json',
                contentType: "application/json",
                async: false,
                success: function (result, status, jqXHR) {
                    if (result.allowed) {
                        targetUrl.value = "/PrincipalPage";
                    }
                    else {
                        targetUrl.value = "/Index";

                    }
                },
                error(jqXHR, textStatus, errorThrown) {
                    targetUrl.value = "/Index";
                }
            });
        }
    </script>

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border: 3px solid #f1f1f1;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

            button:hover {
                opacity: 0.8;
            }

        .registerbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }

        img.avatar {
            width: 40%;
            border-radius: 50%;
        }

        .container {
            padding: 16px;
        }

        span.psw {
            float: right;
            padding-top: 16px;
        }
    </style>
</head>
<body>
    <form action="/Page" onsubmit="return validateForm()" method="post">
        <input type="hidden" id="targetUrl" name="targetUrl" value="/PrincipalPage">
        <div class="imgcontainer">
            <img src="~/images/Logo_EasyOrder.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label for="uname"><b>Usuario</b></label>
            <input id="username" type="text" placeholder="Ingrese su usuario" name="uname" required>

            <label for="psw"><b>Constraseña</b></label>
            <input id="password" type="password" placeholder="Ingrese su contraseña" name="psw" required>

            <button id="submitButton" type="submit">Entrar</button>

            <label>
                <input type="checkbox" checked="checked" name="remember"> Recuerdame
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button id="registerButton" type="button" class="registerbtn" onclick="location.href = '/RegisterPage';">Registrarse</button>
            <span class="psw"><a href="#">Olvidó la contraseña?</a></span>
        </div>
    </form>

</body>
</html>
