@page
@*<script src="~/js/es5-chat.js"></script>*@

<head>
    <title>Kitchen</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*todo lo necesario para bootstrap -> inicio*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    @*fin de lo necesario*@
    <script type="text/javascript" src="~/js/KitchenPageJS.js"></script>
    <link rel="stylesheet" href="~/css/PrincipalPageStyle.css">

    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/chat.js"></script>
</head>

<body>

    <header>
        <div class="container">
            <section class="main row">
                <article class="col-xs-4">
                    <button class="btn btn-xs">
                        <img src="~/images/estado.png" class="img-responsive img-circle" onclick="location.href = '/PrincipalPage';" height="50px" width="50px">
                    </button>
                </article>

                <article class="col-xs-4">
                    <H1>
                        COCINA
                    </H1>
                </article>

                <article class="col-xs-4"></article>
            </section>
        </div>
    </header>

    <!--primera fila del menu de platos-->
    <div class="btn-group btn-group-justified">
        <a class="btn btn-primary" onclick="Mostrar_Ocultar_Uno()">Uno</a>
        <a class="btn btn-primary" onclick="Mostrar_Ocultar_Dos()">Dos</a>
        <a class="btn btn-primary" onclick="Mostrar_Ocultar_Tres()">Tres</a>
        <a class="btn btn-primary" onclick="Mostrar_Ocultar_Cuatro()">Cuatro</a>
    </div>

    <div class="container">
        <!--primera fila de los cuadrantes-->

        <section class="main row">
            <article id="uno/" class="col-xs-3">
                <p>
                    
                </p>
                <p id="uno" style="display:none">
                    esto no se elimina1
                </p>
                <br>
            </article>

            <article id="dos/" class="col-xs-3">
                <p>
                    
                </p>
                <p id="dos" style="display:none">
                    esto no se elimina1
                </p>
                <br>
            </article>

            <article id="tres/" class="col-xs-3">
                <p>
                    
                </p>
                <p id="tres" style="display:none">
                    esto no se elimina1
                </p>
                <br>
            </article>

            <article id="cuatro/" class="col-xs-3">
                <p>
                    
                </p>
                <p id="cuatro" style="display:none">
                    esto no se elimina1
                </p>
                <br>
            </article>
        </section>
    </div>
</body>