@page
<div class="container">    
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/chat.js"></script>
@*<script src="~/js/es5-chat.js"></script>*@

<head>
    <title>Kitchen2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*todo lo necesario para bootstrap -> inicio*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    @*fin de lo necesario*@
    <script type="text/javascript" src="~/js/KitchenPageJS.js"></script>
    <link rel="stylesheet" href="~/css/PrincipalPageStyle.css">

</head>

<body>
   
        <header>
            <div class="container">
                <section class="main row">
                    <article class="col-xs-4"></article>

                    <article class="col-xs-4">
                        <H1>
                            KITCHEN
                        </H1>
                    </article>

                    <article class="col-xs-4"></article>
                </section>
            </div>
        </header>

        <!--primera fila del menu de platos-->
        <div class="btn-group btn-group-justified">
            <a href="#" class="btn btn-primary" onclick="Mostrar_Ocultar_Uno()">Uno</a>
            <a href="#" class="btn btn-primary" onclick="Mostrar_Ocultar_Dos()">Dos</a>
            <a href="#" class="btn btn-primary" onclick="Mostrar_Ocultar_Tres()">Tres</a>
            <a href="#" class="btn btn-primary" onclick="Mostrar_Ocultar_Cuatro()">Cuatro</a>
        </div>

        <section id="fila1">

            <div class="container">
                <!--primera fila de los cuadrantes-->
 
                <section class="main row">
                    <article id="uno/" class="col-xs-3">
                        <p>
                            esto no se elimina1
                        </p>
                        <br>
                    </article>

                    <article id="dos/" class="col-xs-3">
                        <p>
                            esto no se elimina2
                        </p>
                        <br>
                    </article>

                    <article id="tres/" class="col-xs-3">
                        <p>
                            esto no se elimina3
                        </p>
                        <br>
                    </article>

                    <article id="cuatro/" class="col-xs-3">
                        <p>
                            esto no se elimina4
                        </p>
                        <br>
                    </article>
                </section>
            </div>

        </section>
        
        <section id="fila2">

            <div class="container">
                <!--primera fila de los cuadrantes-->
                <section class="main row">
                    <article id="uno" class="col-xs-3">
                        <p>
                            PRIMERO
                        </p>
                        <br>
                    </article>

                    <article id="dos" class="col-xs-3">
                        <p>
                            SEGUNDO
                        </p>
                        <br>
                    </article>

                    <article id="tres" class="col-xs-3">
                        <p>
                            TERCERO
                        </p>
                        <br>
                    </article>

                    <article id="cuatro" class="col-xs-3">
                        <p>
                            CUARTO
                        </p>
                        <br>
                    </article>
                </section>
            </div>

        </section>

    <!--
        <section id="fila2">

            <div class="container">
                
                <section class="main row">
                    <article id="tres" class="col-xs-6">
                        <p>
                            TERCER CUADRANTE
                        </p>
                        <br>
                    </article>

                    <article id="cuatro" class="col-xs-6">
                        <p>
                            CUARTO CUADRANTE
                        </p>
                        <br>
                    </article>
                </section>
            </div>
        </section>
    -->
</body>