@page
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*todo lo necesario para bootstrap -> inicio*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @*fin de lo necesario*@

    <style>
        header {
            background: #2c3e50;
            color: #fff;
        }
    </style>

</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div clas="col-md-2">
                    <h1>MENU COMIDAS</h1>
                </div>

            </div>
        </div>
    </header>

        <!--primera fila del menu de platos-->
        <section class="main row">
            <article class="col-xs-4">
                <p>
                    PORCION DE YUCA
                </p>
                <br>
                <img src="~/images/yuca.jpg" class="img-responsive img-rounded" alt="">
            </article>

            <aside class="col-xs-4">
                <p>
                    CARNE AHUMADA
                </p>
                <br>
                <img src="~/images/carne ahumada.jpg" class="img-responsive img-rounded" alt="">
            </aside>

            <aside class="col-xs-4">
                <p>
                    CALDO DE CARACHAMA
                </p>
                <br>
                <img src="~/images/carachama.jpg" class="img-responsive img-rounded" alt="">
            </aside>
        </section>

        <div class="row">
            <!--segunda fila del menu de platos-->
            <div class="col-xs-4">
                <p>
                    TILAPIA FRITA
                </p>
                <br>
                <img src="~/images/tilapia.jpg" class="img-responsive img-rounded" alt="">
            </div>

            <div class="col-xs-4">
                <p>
                    MAITO DE TILAPIA
                </p>
                <br>
                <img src="~/images/maito de tilapia.jpg" class="img-responsive img-rounded" alt="">
            </div>

            <div class="col-xs-4">
                <p>
                    MAITO DE POLLO
                </p>
                <br>
                <img src="~/images/maito de pollo.jpg" class="img-responsive img-rounded" alt="">
            </div>

            <!-- Trigger the modal with a button -->
            @*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            <p>Some text in the modal.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

</body>
</html>
