@page
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*todo lo necesario para bootstrap -> inicio*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    @*fin de lo necesario*@

    <style>
        header {
            background: #2c3e50;
            color: #fff;
        }
    </style>

</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div clas="col-md-2">
                    <h1>MENU COMIDAS</h1>
                </div>

            </div>
        </div>
    </header>
    
    <!--primera fila del menu de platos-->
    <div class="btn-group btn-group-justified">
        <a href="#" class="btn btn-primary">Comidas</a>
        <a href="#" class="btn btn-primary">Bebidas</a>
    </div>
    <section class="main row">
        <article class="col-xs-4">
            <p>
                PORCION DE YUCA
                <span><input type="number" tabindex="1" id="yucaNumber" class="form-control input-sm" min="0"></span>
            </p>
            
            <button class="btn btn-xs">
                <img src="~/images/yuca.jpg" class="img-responsive img-rounded" data-toggle="modal" data-target="#yucaModal" alt="" height="500px" width="500px">
            </button>
            <br>
        </article>

        <aside class="col-xs-4">

            <p>
                CARNE AHUMADA
                <span><input type="number" tabindex="2" id="carneNumber" class="form-control input-sm" min="0"></span>
            </p>
            <button class="btn btn-xs">
                <img src="~/images/carne ahumada.jpg" class="img-responsive img-rounded" data-toggle="modal" data-target="#carneModal" alt="" height="500px" width="500px">
            </button>
            <br>
        </aside>

        <aside class="col-xs-4">
            <p>
                CALDO DE CARACHAMA
                <span><input type="number" tabindex="3" id="carachamaNumber" class="form-control input-sm" min="0"></span>
            </p>
            <button class="btn btn-xs">
                <img src="~/images/carachama.jpg" class="img-responsive img-rounded" data-toggle="modal" data-target="#carachamaModal" alt="" height="500px" width="500px">
            </button>
            <br>
        </aside>
    </section>

    <div class="row">
        <!--segunda fila del menu de platos-->
        <div class="col-xs-4">
            <p>
                TILAPIA FRITA
                <span><input type="number" tabindex="4" id="tilapiaFritaNumber" class="form-control input-sm" min="0"></span>
            </p>
            <button class="btn btn-xs">
                <img src="~/images/tilapia.jpg" class="img-responsive img-rounded" data-toggle="modal" data-target="#tilapiafritaModal" alt="" height="500px" width="500px">
            </button>
            <br>
        </div>

        <div class="col-xs-4">
            <p>
                MAITO DE TILAPIA
                <span><input type="number" tabindex="5" id="maitoTilapiaNumber" class="form-control input-sm" min="0"></span>
            </p>
            <button class="btn btn-xs">
                <img src="~/images/maito de tilapia.jpg" class="img-responsive img-rounded" data-toggle="modal" data-target="#maitotilapiaModal" alt="" height="500px" width="500px">
            </button>
            <br>
        </div>

        <div class="col-xs-4">
            <p>
                MAITO DE POLLO
                <span><input type="number" tabindex="6" id="maitoPolloNumber" class="form-control input-sm" min="0"></span>
            </p>
            <button class="btn btn-xs">
                <img src="~/images/maito de pollo.jpg" class="img-responsive img-rounded" data-toggle="modal" data-target="#maitopolloModal" alt="" height="500px" width="500px">
            </button>
            <br>
        </div>

        <!-- Modal de la porcion de yuca -->
        <div class="modal fade" id="yucaModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Yucas fritas</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            La yuca frita es una receta muy conocida y tradicional en muchos países sudamericanos.
                            Aunque en nuestro país no es muy popular, te traemos esta receta detallada paso a paso
                            para que te animes a probarla.
                        </p>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>

            </div>
        </div>

        <!-- Modal de carne ahumada -->
        <div class="modal fade" id="carneModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Carne ahumada</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Tradicionalmente, se realizaba la técnica del ahumado para preservar la carne.
                            Aunque ahora conocemos mejores maneras de conservarla fresca, la popularidad
                            de la carne ahumada no ha desaparecido. Es la mejor forma de resaltar el sabor
                            intenso y suculento del lomo, de las costillas u otros cortes de carne que
                            sencillamente saben mejor cuando se ahúman hasta que la carne se desprende
                            de los huesos. Puedes poner la carne en salmuera primero o aliñarla, usar
                            un ahumador u horno eléctrico para ahumar de última tecnología o un asador
                            o parrilla a carbón vegetal y elegir de entre una variedad de maderas, cada
                            una de las cuales le da diferentes sabores a la carne. Más allá de algunos
                            detalles a tener en cuenta, la carne se cocina a fuego mínimo y uniforme
                            durante muchas horas hasta que está completamente ahumada quedando perfecta
                            y deliciosa. Lee el paso 1 para aprender a ahumar cualquier tipo de carne.
                        </p>
                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@

                    </div>
                    <div>
                        <br>
                        <button class="btn btn-lg">+</button>
                        <button class="btn btn-lg">-</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal del caldo de carachama -->
        <div class="modal fade" id="carachamaModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Caldo de carachama</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            INGREDIENTES

                            -Un kilo de carachama
                            -Dos litros de agua
                            -Seis hojas de sacha culantro
                            -Un ají dulce
                            -Una cucharada de ajos molido
                            -Sal al gusto

                            Lavar bien las carachamas y cortarlos por la mitad y poner a hervir por media hora,
                            junto con el ajo molido,y al final agregar el ají dulce en tiritas y el sacha culantro.
                            Opcionalmente puede agregar al bajar un huevo batido.
                            Se sirve acompañado con yuca o plátano verde sancochado y por supuesto con su ají
                            charapita con cocona. Receta para seis platos.
                        </p>
                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@

                    </div>
                    <div>
                        <br>
                        <button class="btn btn-lg">+</button>
                        <button class="btn btn-lg">-</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal de la tilapia frita -->
        <div class="modal fade" id="tilapiafritaModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Tilapia frita</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            INGREDIENTES TILAPIA FRITA
                            Aceite de Girasol 1 Litro(s)
                            Harina de Trigo 1 Taza(s)
                            Limón 2 Unidad(es)
                            Tilapia 2 Unidad(es)

                            La tilapia frita es una forma muy exquisita para disfrutar de esta clase de pescado,
                            ya que se puede utilizar para acompañar muchos otros platos colombianos, como arroz
                            con coco y patacones. Esta receta es típica en las costas colombianas, pero en casi
                            todo el territorio nacional se consume especialmente, los fines de semana o en
                            semana santa. Test by Freddy
                        </p>
                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@

                    </div>
                    <div>
                        <br>
                        <button class="btn btn-lg">+</button>
                        <button class="btn btn-lg">-</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal del maito de tilapia -->
        <div class="modal fade" id="maitotilapiaModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Maito de tilapia</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Ingredientes<br />
                            1 tilapia
                            Hojas de yaki-panga
                            Sal y pimienta negra al gusto
                            Yuca o plátano verde cocinado para acompañar

                            Se limpia y se lava el pescado con limón y sal se adoba o aliña con sal, mostaza y ajo.
                            Dejar macerar  mínimo media hora, aparte se refríe la cebolla blanca con el achiote y
                            luego se colora el palmito picado.
                            Sobre la hoja de bijao o platanillo poner una capa del refrito y colocar el pescado.
                            Luego se rellena con el mismo refrito sobre y dentro del pescado. Finalmente se envuelve
                            en la hoja y se lo cierra con una piola y se lo coloca a la braza durante cinco minutos
                            de cada lado.
                        </p>
                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@

                    </div>
                    <div>
                        <br>
                        <button class="btn btn-lg">+</button>
                        <button class="btn btn-lg">-</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Modal del maito de pollo -->
        <div class="modal fade" id="maitopolloModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Maito de pollo</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Ingredientes:

                            1 taza de yuca cocida cortada en cubos
                            2 filetes de pollo
                            Ají criollo finamente picado
                            2 Hojas de bijao
                            1 cucharadita de margarina Girasol
                            ½ Pimiento verde cortado en tiras
                            ½ cebolla paiteña cortada en tiras
                            1 diente de ajo finamente
                            1 cucharadita de Aceite

                            Aplastamos la yuca hasta obtener una masa homogénea
                            Abrimos las hojas de bijao y  untamos con la margarina. Agregamos dentro de la hoja la
                            masa de yuca previamente realizada, el filete del pollo, agregamos el aceite, el piento
                            verde, la cebolla el ají y el ajo.
                            Cerramos la hoja y la cocinamos al vapor por aproximadamente 30 minutos.
                            Servimos inmediatamente.
                        </p>
                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@

                    </div>
                    <div>
                        <br>
                        <button class="btn btn-lg">+</button>
                        <button class="btn btn-lg">-</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
</html>
