@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Easy Order</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="~/css/RegisterPageStyle.css">
    <script type="text/javascript" src="~/js/RegisterPageJS.js"></script>
    @*<script>
        function validateForm() {
            $.ajax({
                url: "/api/user/register",
                method: "POST",
                data: JSON.stringify({
                    UserName: $("#nickname").val(),
                    Password: $("#password").val(),
                    FullName: $("#fullname").val(),
                    CI: $("#ci").val(),
                    PhoneNumber: $("#phone").val()
                }),
                dataType: 'json',
                contentType: "application/json",
                async: false,
                success: function (result, status, jqXHR) {
                    if (result.allowed) {
                        targetUrl.value = "/Index";
                    }
                    else {
                        targetUrl.value = "/RegisterPage";

                    }
                },
                error(jqXHR, textStatus, errorThrown) {
                    targetUrl.value = "/RegisterPage";
                }
            });
        }
    </script>

    <script>
        function validateCI() {
            $.ajax({
                url: "/api/user/validateci",
                method: "POST",
                data: JSON.stringify({
                    CI: $("#ci").val()
                }),
                dataType: 'json',
                contentType: "application/json",
                async: false,
                success: function (result, status, jqXHR) {
                    if (result.allowed) {
                        validateForm();
                        targetUrl.value = "/RegisterPage2";
                    }
                    else {
                        targetUrl.value = "/Error";

                    }
                },
                error(jqXHR, textStatus, errorThrown) {
                    targetUrl.value = "/RegisterPage";
                }
            });
        }
    </script>*@

</head>
<body>
    <form action="/Page" onsubmit="return validateForm()" method="post">
        <input type="hidden" id="targetUrl" name="targetUrl" value="/PrincipalPage">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    @*<form role="form">*@
                    <h2>Registrate <small>Es un placer contar con tu ayuda.</small></h2>
                    <hr class="colorgraph">
                    <div class="form-group">
                        <input type="text" name="fullname" id="fullname" class="form-control input-lg" placeholder="Apellidos y nombres" tabindex="1" required>

                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="ci" id="ci" class="form-control input-lg" placeholder="Cédula" tabindex="2" required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="phone" id="phone" class="form-control input-lg" placeholder="Celular" tabindex="3" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="nickname" id="nickname" class="form-control input-lg" placeholder="Nombre de usuario" tabindex="4" required>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Crea una contraseña" tabindex="5" required>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirma tu contraseña" tabindex="6" required>
                            </div>
                        </div>
                    </div>
                    @*<div class="row">
            <div class="col-xs-4 col-sm-3 col-md-3">
                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="info" tabindex="7">I Agree</button>
                    <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
                </span>
            </div>
            <div class="col-xs-8 col-sm-9 col-md-9">
                By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
            </div>
        </div>*@

                    <hr class="colorgraph">
                    @*</form>*@
                    <button id="registerButton" type="submit" class="registerbtn">Registrame</button>
                    <button id="loginBackButton" type="button" class="cancelbtn" onclick="location.href = '/Index';">Ingresar</button>
                </div>  
            </div>
            <div class="container">
                @*<button id="registerButton" type="submit" class="registerbtn">Registrame</button>
                <button id="loginBackButton" type="button" class="cancelbtn" onclick="location.href = '/Index';">Ingresar</button>*@
            </div>
        </div>
    </form>
</body>
</html>
